:root {
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    --color-border: #D1D1D1;
    --color-red: red;
    --color-blue: #0050D8;
}
body {
    background-color: #E5E5E5;
}
label {
    padding-bottom: 8px;
}
input {

}
label , input {
    font-size: 1.6em;
}
input , select {
    padding: 6px 5px;
    border-radius: 4px;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 1.6em;
}
.red-star {
    color: var(--color-red);
}
h1 {
    margin-bottom: 80px;
}
h2 {
    padding: 20px 0px 15px 0px;
}
.container {
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding: 40px;
}
.container > p {
    font-size: 1.4em;
    margin: 0;  
}
.section , .section-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-1 , .section-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 460px;
}
.arrow-down {
    background-image: url(../IMG/arrow-down-s-line.png);
    background-repeat: no-repeat;
    background-position: right;
}
.magnifier {
    background-image: url(../IMG/search-line.png);
    background-repeat: no-repeat;
    background-position: right;
}
.checkbox {
    display: flex;
    flex: 0 1 460px;
}
.checkbox-border {
    padding-bottom: 27px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
}
.section-border {
    padding-bottom: 33px;
    border-bottom: 1px solid var(--color-border);
}
.checkbox-label {
    width: 100%;
    cursor: pointer;
    display: flex;
}
.checkbox-input{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
#app-reg {
    color: var(--color-blue);
    font-weight: 400;
    font-size: 1.6em;
}
.blue-txt {
    color: var(--color-blue);
}
.checkbox-label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    border: .05em solid black;
}
.checkbox-input:checked + .checkbox-label::before {
    background-color: #FF00FF;
    content: '\002714';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-nxt {
    display: flex;
    justify-content: flex-end;
}
.btn {
    background-color: var(--color-blue);
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 15px 0 40px 0;
    cursor: pointer;
}