:root {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-title,
.header__which,
.header__info {
    display: none;
    background-color: beige;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    width: 40%;
}

.header__which {
    display: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.cards {
    grid-template-columns: 1fr 1fr;
    display: none;
}

.card-item {
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(0, 102, 255, 0.438);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.cards>div,
.cards>ul {
    height: 40vh;
}

div,
ul {
    font-size: 30px;
}

ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li {
    border: 2px solid black;
    margin: 30px;
    text-align: center;
    cursor: pointer;
}

li:hover {
    border-color: red;
}

.hide {
    display: none;
}

.show {
    display: flex;
    text-align: center;
}

.showCards {
    display: grid;
}

.welcome {
    position: absolute;
    left: 21vw;
    top: 40vh;
    font-size: 60px;
}