:root {
    --color-icon-black: #292B2E;
    --color-icon-gradient: linear-gradient(to right , #FFB742 100% , #FF7B42C2 76%);
    --color-footer-text : rgba(245, 251, 242, 1);
    --color-orange: #FFB742;
    --color-white: #FFFFFF;
    --background-color-cards-hover: linear-gradient(94.3deg, #FFB742 0%, #ff7b42c2 99.33%);
    --background-color-icons-hover: rgba(255, 183, 66, 0.5);
    --color-background-dark: #212529;
    --color-black-footer: #1C1C1C;
    --color-dark-footer: rgba(123, 123, 123, 1);
    --color-white-footer: #D4D4D4;
    --color-button-background: rgba(255, 255, 255, 0.08);
    --color-txt-block: rgba(212, 212, 212, 1);
    --background-color-skills-icon: rgba(56, 62, 69, 1);
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--color-background-dark);
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px ;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    list-style-type: none;
}
.menu-nav > li > a {
    color: var(--color-white);
}
#nav-menu-li li{
    padding: 10px 25px;   
}
.myWorks #myWorks-nav .background-nav > li:hover{
    background-color: var(--color-orange);
    color: var(--color-background-dark);
    border-radius: 3px;
    cursor: pointer;
}
.menu-nav > li > a:hover {
    color : var(--color-orange);
}
.button-hire-me {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    background-color: var(--color-orange);
    padding: 12px 26px;
    border-radius: 50px;
    cursor: pointer;
    width: fit-content;
  }
.container {
    margin: 0 3%;
}
#orange-name {
    color: var(--color-orange);
    border-bottom: 2px solid var(--color-orange);
    border-color: var(--color-orange);
}
.hi-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hi-block p {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;;
}
.hi-block > p:first-child {
    font-size: 2em;
    font-weight: 700;
    padding-top: 100px;
}
.hi-block > p:nth-child(2n) {
    font-size: 3em;
    font-weight: 700;
  }
.hi-block > p:last-of-type {
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 15px;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 135px;
}
.card {
    width: 30%;
    background-color: var(--color-icon-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
}
.card-content > div:first-child {
    color: var(--color-orange);
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 700;
}
.card-content > div:last-child {
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 700;
}
.card:hover {
    background: var(--background-color-cards-hover);
}
.card:hover .card-content > div:first-child {
    color: var(--color-background-dark);
}
.card:hover .card-content > div:last-child {
    color: var(--color-background-dark);
}
.about-me {
    display: flex;
    margin-top: 220px;
}
.img-about {
    box-sizing: border-box;
    padding-top: 20px;
    width: 100%;
}
.text-about {
    display: flex;
    flex-direction: column;
    width: 78%;
}
.btn-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--color-orange);
    background: var(--color-button-background);
    padding: 6px 25px;
    border-radius: 50px;
    cursor: pointer;
    width:fit-content;
}
.txt-line-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: var(--color-white);
    width: 50%;
}
.txt-block {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-txt-block);
    width: 80%;
    line-height: 30px;
    margin: 30px 0 55px 0;
}
#txt-block-id {
    width: 65%;
}
.skills {
    display: flex;
    justify-content: center;
}
.skills-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40%;
    height: 176px;
}
.skills-icon div {
    width: 80px;
    height: 80px;
    background-color: var(--background-color-skills-icon);
    border-radius: 10px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-icon > div:hover {
    background:  var(--background-color-icons-hover);
}
.myWorks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#myWorks-btn-1 {
    margin: 135px 0 0 0;
}
#myWorks-txt-line-2 {
    text-align: center;
}
#myWorks-nav {
    margin: 20px 0 50px 0;
}
.works {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.img-column {
    flex: 33%;
    max-width: 33%;
    padding: 0 10px;
  }
  .img-column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }

  #testimonials-txt-line-2 {
    font-size: 2.45em;
    text-align: center;
}
.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pages {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}
.pages img {
    padding: 15px;
}
.footer {
    font-family: 'Work Sans', sans-serif;
    margin-top: 250px;
    padding: 50px 20px;
    box-sizing: border-box;
    height: 470px;
    width: 100%;
    background-color: var(--color-black-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-ul {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer .footer-ul .links li:hover > a ,  .footer .footer-ul .links li:hover {
    color: var(--color-orange);
}
.footer-ul p {
    font-size: 1.34em;
    font-weight: 700;
    color: var(--color-footer-text);
    padding-bottom: 10px;
    padding-left: 0px;  
}
.links {
    padding-left: 0px;
}
.footer-ul li {
    padding: 5px 0;
    list-style-type: none;
    color: var(--color-dark-footer);
}
a {
    text-decoration:none;
    color: var(--color-dark-footer);
    font-size: 1.125em;
    font-weight: 500;
}
#nolinks {
    height: 72%;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: var(--color-orange);
}
.footer-1 p {
    color: var(--color-white-footer);
    font-size: 1em;
    font-weight: 600;
    margin-top: 20%;
}
.footer-1 {
    height: 79%;
    width: 25%;
}
