:root {
    font-family: "Oswald";
}

.currency-grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    justify-content: center;
}

.currency {
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 45px;
    text-align: center;
}

.currency-rate {
    border: 1px solid black;
    border-radius: 20px;
    width: 10vw;
    text-align: center;
    padding: 3px;
    margin: 7px;
}

@font-face {
    font-family: "Oswald";
    src: url(../src/Oswald-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}