:root {
    --color-button: aqua;
}

a {
    text-decoration: none;

}

.student-info {
    display: flex;
    width: 70%;
    margin: 30px auto;
    justify-content: space-around;
}

ul {
    list-style: none;
}

#result {
    position: fixed;
    padding: 20px;
    right: 20px;
    top: 20px;
}

.bgGreen {
    background: green;
}

.bgRed {
    background: red;
}

.test-question {
    font-style: italic;
    font-size: 15px;
}

.test-question-code {
    font-style: normal;
    font-weight: bold;
}

.checkbox-img {
    width: 16px;
    display: none;
}

li {
    display: flex;
    align-items: center;
}

.timer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timer-btn , .submit-btn {
    background-color: red;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
}

.form-test {
    display: none;
}





body {
    margin: 0;
    background-color: lightskyblue;
}

.student-info {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 0;
}

.student-info > div:first-of-type {
    padding-right: 10vw;
}

.student-info div{
    font-size: 3rem;
}

.student-info div > input{
    font-size: 3rem;
    width: 20vw;
    height: 5vh;
    font-weight: bold;
}