:root {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(../IMG/field.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.goal-left {
    height: 310px;
    width: 75px;
    border: 15px solid white;
    left: 6.3vw;
    top: 34.8vh;
    position: absolute;
    z-index: 100;

}

.goal-right {
    height: 310px;
    width: 64px;
    border: 15px solid white;
    right: 5.1vw;
    top: 34.8vh;
    position: absolute;
    z-index: 100;

}

img {
    height: 50px;
    position: absolute;
    top: 50vh;
    left: 50vw;


}

.score-left {
    position: absolute;
    font-size: 20rem;
    font-weight: bold;
    top: 2vh;
    left: 30vw;
}
.score-right {
    position: absolute;
    font-size: 20rem;
    font-weight: bold;
    top: 2vh;
    right: 30vw;
}