:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-button-black: #332200;
    --color-button-background: #F6AD09;
    --color-orange: #FFBB00;
    --color-head-2: #111111;
    --color-price: #595959;
    --color-block-2-h1: #B2B2B2;
    --color-border-pictures: #E0E0E0;
    --color-citation-text-p: #664400;
    --color-block3-background: #161616;
    --color-block-3-price-1-head: #9C9C9C;
    --color-text-button: #CCCCCC;
    --color-background-color-button: #2E2E2E;
    font-size: 10px;
}
body {
    margin: 0;
}
a {
    text-decoration:none;
}
.menu-list li a {
    color: var(--color-white);
}
.information-p a {
    color: var(--color-block-2-h1);
}
.main {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container-block {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 3em;
}
.block-1 {
    padding-left: 14%;
    padding-bottom: 106px;
}
.block-1-b  {
    color: var(--color-white);
    font-size: 6.4em;
    font-weight: 600;
    max-width: 55%;
    margin-top: 230px;
    line-height: 7.2rem;
}
#orange-dot {
    color: var(--color-orange);
}
.block-1-c {
    color: var(--color-block-2-h1);
    font-size: 2.4em;
    font-weight: 400;
    max-width: 58%;
    line-height: 3.6rem;
    padding-top: 32px;
    padding-bottom: 32px;
}
.button {
    color: var(--color-button-black);
    font-size: 1.8em;
    font-weight: 600;
    padding: 20px 30px;
    background-color: var(--color-button-background);
    display: inline-block;
}
#text-head-block {
    font-size: 3.2em;
    color: var(--color-white);
}
.menu {
    margin-right: 14%;
}
.menu-list {
    color: var(--color-white);
    font-size: 1.8em;
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 14%;
}
.menu-list>li {
    padding: 0 24px 0 0;
}
#bike-1 {
    position: absolute;
    right: 9%;
    margin-top: 95px;
}
#diferencial-1 {
    position: absolute;
    right: 4.5%;
    top: -10% ;
}
.head-2 {
    color: var(--color-head-2);
    font-size: 6.4em;
    font-weight: 600;
    margin-top: 145px;
    margin-bottom: 44px;
    padding-left: 14%;
}
.bike-models {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bike-description {
    display: flex;
}
.bike-model-head {
    font-size: 3.2em;
    font-weight: 600;
    color: var(--color-head-2);
    margin-bottom: 10px;
}
.bike-model-price {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    color: var(--color-price);
}
.bike-text {
    margin-top: 15px;
}
#line {
    margin: 34px 9px;
}
.container-block-2 {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    margin-top: 193px;
    position: relative;
}
.block-2 {
    box-sizing: border-box;
    padding-left: 14%;
    padding-top: 80px;
}
.block-2-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4em;
    font-weight: 500;
    color: var(--color-block-2-h1);
}
.block-2-h2 {
    color: var(--color-white);
    font-size: 6.4em;
    font-weight: 600;
    max-width: 40%;
    margin-top: 20px;
    line-height: 7.2rem;
}
.block-2-h3 {
    color: var(--color-block-2-h1);
    font-size: 2.4em;
    font-weight: 400;
    max-width: 47%;
    margin-top: 43px;
    line-height: 3.6rem;
}
.block-2-h4 {
    color: var(--color-orange);
    font-size: 2.4em;
    font-weight: 600;
    border-bottom: 4px solid var(--color-orange);
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 41px;
}
.block-2-h5 {
    display: flex;
    max-width: 34%;
    justify-content: space-between;
}
.block-2-h5-1 {
    color: var(--color-white);
    font-size: 2.4em;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.block-2-h5-2 {
    font-family: 'Roboto', sans-serif;
    color: var(--color-block-2-h1);
    font-size: 1.6em;
    font-weight: 400;
    line-height: 2.4rem;
    max-width: 93%;
    margin-bottom: 95px;
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 4.5% 100px 4.5%;
}
.logo {
    min-width: 22%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--color-border-pictures);
    margin: 10px 20px;
}
.citation {
    display: flex;
    background-color: var(--color-orange);
}
.mark-1 {
    box-sizing: border-box;
    padding-top: 295px;
    padding-left: 2%;
}
.mark-2 {
    box-sizing: border-box;
    padding-top: 525px;
}
.citation-text {
    max-width: 27%;
}
.citation-text-head {
    font-family: 'Merriweather', serif;
    font-size: 3.6em;
    font-weight: 900;
    font-style: italic;
    line-height: 4.8rem;
    color: var(--color-button-black);
    box-sizing: border-box;
    padding-top: 305px;
}
.citation-text-p {
    font-size: 2.4em;
    font-weight: 600;
    color: var(--color-citation-text-p);
    margin-top: 17px;
}
.block-3 {
    height: 737px;
    background-color: var(--color-block3-background);

}
.head-3 {
    color: var(--color-white);
    font-size: 6.4em;
    font-weight: 600;
    line-height: 7.2rem;
    box-sizing: border-box;
    padding-left: 14%;
    padding-top: 73px;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.block-3-price-1 {
    height:fit-content;
    width: 28.5%;
    background-color: var(--color-black);
    border-radius: 7px;
    margin-right: 2.5%;
}
.block-3-price-1>ul {
    margin: 0;
}
.block-3-price-1>ul>li {
    font-size: 1.8em;
    font-weight: 500;
    color: var(--color-white);
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
#mark-small {
    margin-right: 6px;
}
.block-3-price-head {
    display: flex;
    box-sizing: border-box;
    padding-top: 33px;
    justify-content: space-between;
}
#block-3-price-head-1 {
    font-size: 3.6em;
    font-weight: 600;
    color: var(--color-block-3-price-1-head);
    box-sizing: border-box;
    padding-left: 11.8%;
}
#block-3-price-head-2 {
    font-size: 3.6em;
    font-weight: 600;
    color: var(--color-white);
    box-sizing: border-box;
    padding-right: 11.8%;
}
#mensal {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-block-3-price-1-head);
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding-right: 11.8%;
    padding-bottom: 14px;
}
.button-1 {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--color-text-button);
    padding: 15px 28px;
    background-color: var(--color-background-color-button);
    display: inline-block;
    margin-left: 11.8%;
    margin-top: 23px;
    margin-bottom: 28px;
    border-radius: 5px;
}
.block-4 {
    background-color: var(--color-black);
    display: flex;
    height: 474px;
}
.contato {
    margin-left: 11.8%;
    margin-top: 66px;
}
.contato-text {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 2.4em;
    font-weight: 500;
}
.contato-email a , .contato-tel a {
text-decoration: none;
}
.contato-tel a, .contato-email a, .contato-adress-1 , .contato-adress-2 , #ps {
    font-family: 'Roboto', sans-serif;
    color: var(--color-block-2-h1);
    font-size: 1.8em;
    font-weight: 400;
    line-height: 3.2rem;
}
#footer-logo {
    box-sizing: border-box;
    padding-left: 13.5%;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}
.contato-tel {
    margin-top: 31px;
}
.contato-adress-1 {
    margin-top: 30px;
}
.contato-links {
    margin-top: 20px;
    max-width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
}
.information {
    margin-left: 14.375%;
    margin-top: 66px;
}
.information-p {
    font-family: 'Roboto', sans-serif;
    color: var(--color-block-2-h1);
    font-size: 1.8em;
    font-weight: 400;
    line-height: 3.6rem; 
}
#footer-2 {
    margin-bottom: 31px;
}
#ps {
    margin-top: 308px;
}
.img-citation {
    min-width: 50%;
}
.block-3-price-1:hover #block-3-price-head-1{
    color: var(--color-orange);
}
.information-p:hover , .information-p a:hover , .contato-tel a:hover , .contato-email a:hover {
    color: var(--color-orange);
    cursor: pointer;
}
