body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBE4FF;
}
.menu {
    height: 65px;
    background-color: #243B93;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu-list {
    list-style-type:none;
    display: flex;
    align-items:center;
    margin-left: 8.2%;
    width: 44.2%;
}
.li {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.7px;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    width: 20%;
}
.menu-ua {
    font-weight: 700;
    font-size: 28px;
    line-height: 36.23px;
    color: #FFFFFF;
    margin-left: 0.5%;
}
.menu-globo {
    margin-left: 3%;
}
.headline-1 {
    height: 85px;
    background-color: #BFF0FF;
    font-weight: 400;
    font-size: 44px;
    font-style: italic;
    padding-left: 15.6%;
    padding-top: 17px;
    box-sizing: border-box;
}
.headline-2 {
    margin-top: 0.94%;
    margin-left: 15.625%;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 68.75%;
    background-color: #FFFFFF;
    color: rgba(00, 00, 00, .61);
    font-weight: 400;
    font-size: 28px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 11px;
    margin-bottom: 30px;
}
.headline-2-arrow {
    position:absolute;
    right: 12px;
    bottom: 12px;
}
.container-1 , .container-2 , .container-3 , .container-4 {
    background: linear-gradient(to right, #ADCBD4, #00AEE5);
    position: relative;
}
.cards {
    margin: 0 auto;
    max-width: 85%;
}
.container-1 , .container-2 , .container-3 , .container-4 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 80.9%;
    box-sizing: border-box;
    padding: 20px 0;
}
.container-1-p {
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    line-height: 46.58px;
    color: #353C57;
    border-bottom: 3px solid white;
    width: 100%;
}
.container-1-img {
    margin-right: 30px;
}
.location-div {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    max-width: 56%;
}
.container-1-text-block {
    background-color: #EDFBFF;
    margin-top: 10px;
    box-sizing: border-box;
    height: 186px;
}
.container-1-text , .container-3-text , .container-4-text {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
    line-height: 28.47px;
    padding-top: 10px;
    padding-left: 16px;
}
.container-1-text {
    width: 84%;
    padding-bottom: 81px;
}
.container-3-text {
    width: 88%;
    padding-bottom: 81px;
}
.container-4-text {
    width: 91.3%;
    padding-bottom: 52.5px;
}
.container-1-star {
    position: absolute;
    right: 10px;
    top: 6px;
}
.container-1-key {
    width: 210px;
    position: absolute;
    bottom: 11px;
    right: -33px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.06px;
    border-radius: 30px;
    background-color: #243B93;
    color: #FFFFFF;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 11px;
}
.container-2 , .container-3 , .container-4 {
    margin-top: 42px;
}
.kabinet-p , .contacts {
    margin-top: 39px;
    height: 85px;
    background: linear-gradient(to right, #FFE601, #55D6FF);
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    color: #243B93;
    line-height: 56.94px;
    box-sizing: border-box;
    padding-left: 299px;
    padding-top: 17px;
    padding-bottom: 11px;
}
.business-card {
    margin-top: 36px;
    background: linear-gradient( 180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    width: 68.64%;
    margin-left: 15.625%;
    height: 498px;
    box-sizing: border-box;
    padding-top: 46px;
}
.information {
    width: 712px;
    margin-left: 525px;

}
.table-line {
    border-bottom: 3px solid #FFFFFF;
}
.table-line-final , .table-line {
    height: 78px;
    text-align:left;
    padding-left: 10px;
}
.table-caption {
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
}
.table-text {
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    color: #353C57;  
}
.card-avatar {
    display: flex;
    margin-top: -421px;
    height: 184px;
    margin-left: 167px;
}
.table-button-1 , .table-button-2{
    margin-left: 148px;
    margin-top: 35px;
    height: 50px;
    background-color: #243B93;
    border-radius: 30px;
    width: 250px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
}
.table-button-2 {
    background-color: #EF075B 
}
.button-out {
    display: flex;
    justify-content: center;
    width: 174px;
    margin-top: 19px;
    background-color: #243B93;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    margin-left: 873px;
    border-radius: 30px;
    padding-top: 9px;
    padding-bottom: 10px;
}
.contacts {
    background: linear-gradient(to right, #55D6FF, #FFE601);
}
.table-line-2 {
    border-bottom: 3px solid #FFFFFF;
}
.phone-adress-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.phone , .adress , .email {
    font-size: 34px;
    font-weight: 400;
    margin: 20px;
}
.phone-p1 , .phone-p2 , .adress-p1 , .adress-p2 , .email-p1 , .email-p2{
    display: block;
    margin: 0;
}
.flex-phone-adress-email {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
}
.phone-p2 , .adress-p2 , .email-p2 {
    border-top: 3px solid #202846;
}
.maps {
    display: flex;
    max-height: 290px;
    max-width: 499px;
    overflow: hidden;
    border: 3px solid #243B93;
    border-radius: 40px;
}
.final {
    min-height: 65px;
    background-color: #243B93;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 7.5%;
}
.return {
    height: 101px;
    width: 101px;
    border-radius: 50%;
    background-color: #300C6A4D;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.container-1:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.container-2:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    
}
.container-3:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.container-4:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.container-1:hover .container-1-star path {
    fill: yellow;
}
.container-2:hover .container-1-star path {
    fill: yellow;
}
.container-3:hover .container-1-star path {
    fill: yellow;
}
.container-4:hover .container-1-star path {
    fill: yellow;
}
.container-1:hover .container-1-key {
    background-color: #EF075B;
}
.container-2:hover .container-1-key {
    background-color: #EF075B;
}
.container-3:hover .container-1-key {
    background-color: #EF075B;
}
.container-4:hover .container-1-key {
    background-color: #EF075B;
}
.return:hover {
    background-color: #EF075B
}
.li a {
    text-decoration: none;
    color: #FFFFFF;
}