:root {
   --color-white: #FFFFFF;
   --color-black: #000000;
   --color-green: #29A71E;
   --color-red: #E13535;
   --color-blue: #3675B0;
   --color-background: #FFB084;
   font-size: 20px;
   font-family: 'Work Sans', sans-serif;
}

body {
   margin: 0;
}

.main {
   background-color: var(--color-background);
   height: 100vh;
   border-radius: 2rem;
}

.section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(7, 1fr);
   height: 100%;
   gap: 2rem;
   padding: 5.8vh 5.2vw;
   box-sizing: border-box;
}

.section div {
   border-radius: 2rem;
}

.section>div:first-of-type {
   background-color: var(--color-white);
   grid-row-start: 1;
   grid-row-end: 7;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 1.2rem;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-black);
}

.section>div:first-of-type span {
   font-weight: 700;
}

.section>div:first-of-type>ul>li>span:nth-child(2) {
   padding-left: 1.5rem;
}

.section>div:first-of-type li {
   margin-right: 3vw;
   margin-bottom: 1.7rem;
   list-style: none;
}

.section>div:first-of-type>img {
   width: 10vw;
}

.section>div:nth-child(2) {
   background-color: var(--color-white);
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
   font-size: 1.5rem;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-black);
}

.section>div:nth-child(2)>ul,
.section>div:nth-child(7)>ul {
   list-style: none;
}

.section>div:nth-child(2) li:first-of-type,
.section>div:nth-child(7) li:first-of-type {
   font-weight: 700;
   box-sizing: border-box;
   padding-bottom: 1rem;
}

.section>div:nth-child(3) {
   background-color: var(--color-white);
   grid-column-start: 2;
   grid-row-start: 3;
   grid-row-end: 5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 1.5rem;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-green);
}

.section>div:nth-child(3) span {
   color: var(--color-green);
   font-weight: 700;
   box-sizing: border-box;
   padding-left: 4rem;
   padding-bottom: 1rem;
}

.section>div:nth-child(3) ul {
   margin: 0;
   padding-left: 6rem;
}

.section>div:nth-child(4) {
   background-color: var(--color-white);
   grid-column-start: 3;
   grid-row-start: 3;
   grid-row-end: 6;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 1.5rem;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-red);
}

.section>div:nth-child(4) span {
   color: var(--color-red);
   font-weight: 700;
   box-sizing: border-box;
   padding-left: 4rem;
   padding-bottom: 1rem;
}

.section>div:nth-child(4) ul {
   margin: 0;
   padding-left: 6rem;
   width: 16vw;
}

.section>div:nth-child(5) {
   background-color: var(--color-white);
   grid-column-start: 1;
   grid-row-start: 7;
   font-size: 1.4rem;
   font-weight: 700;
   line-height: 1.642rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 27vw;
   box-sizing: border-box;
   padding: 1vh 4vw;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-black);
}

.section>div:nth-child(6) {
   background-color: var(--color-white);
   grid-column-start: 2;
   grid-row-start: 5;
   grid-row-end: 8;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 1.5rem;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-blue);
}

.section>div:nth-child(6) span {
   color: var(--color-blue);
   font-weight: 700;
   box-sizing: border-box;
   padding-left: 4rem;
   padding-bottom: 1rem;
}

.section>div:nth-child(6) ul {
   margin: 0;
   padding-left: 6rem;
   width: 16vw;
}

.section>div:nth-child(7) {
   background-color: var(--color-white);
   grid-column-start: 3;
   grid-row-start: 6;
   grid-row-end: 8;
   font-size: 1.5rem;
   box-shadow: 0.7rem 0.7rem 0px 0px var(--color-black);
}

@media screen and (max-width: 1820px) {
   :root {
      font-size: 19px;
   }
}

@media screen and (max-width: 1700px) {
   :root {
      font-size: 18px;
   }
}

@media screen and (max-width: 1570px) {
   :root {
      font-size: 16px;
   }
}

@media screen and (max-width: 1400px) {
   :root {
      font-size: 14px;
   }
}

@media screen and (max-width: 1240px) {
   :root {
      font-size: 13px;
   }
}

@media screen and (max-width: 1175px) {
   :root {
      font-size: 12px;
   }
}

@media screen and (max-width: 100px) {
   :root {
      font-size: 11px;
   }
}