.header {
   text-align: center;
   font-size: 48px;
   font-weight: 400;
   font-family: 'M PLUS 1', sans-serif; 
   min-height: 110px;
   padding-top: 25px;
   padding-bottom: 31px;
   box-sizing: border-box;
}
.header-a {
    color: #3E45E8;
}
.header-b {
    color: #E8C23E;
}
body {
    font-family: 'Roboto', sans-serif;
}
.img-1-background {
    background-image:url("../IMG/image-1.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-top: 206px;
}
.img-2-flag-blue {
    background-image: url("../IMG/Flag-blue.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 136px;
    width: 22px;
}
.img-2-flag-yellow {
    background-image: url("../IMG/Flag-yellow.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 136px;
    width: 22px;
}
.text-banner {
    color: white;
    font-size: 48px;
    font-weight: 700;
    width: 72%;
    margin-top: -283px;
    margin-left: 38px;
    line-height: 75.5px;
}
.h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 62.92px;
    padding-top: 72px;
    box-sizing: border-box;
}
.line {
    border-bottom:5px solid #3E45E8;
    width: 402px;
    padding-bottom: 25px;
    box-sizing: border-box;
}
.main {
    padding: 0px 80px;
}
.card {
    margin-top: 33px;
    box-shadow: 0px 4px 57px rgb(0, 0, 0, 25%);
    border-radius: 30px;
    height: 481px;
}
.card-image {
    width: 100%;
}
.cards {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.card-title {
    font-weight: 700;
    font-size: 24px;
    color: #1E8DF2;
    line-height: 37.75px;
    padding-left: 10px;
}
.card-subtitle ,.card-subtitle-width {
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    line-height: 31.46px;
    padding-left: 10px;
}
.card .card-subtitle-width {
    width: 72%;
}
.h1-1 {
    text-align: center;
    margin-top: 74px;
    font-weight: 700;
    font-size: 40px;
}
.line-2{
    border-bottom:5px solid #3E45E8;
    width: 402px;
    margin: 21px auto 0 auto;
}
.img-3-ukraina {
    margin-top: 41px;
    display: flex;
    justify-content:center;
}
.button-support {
    margin: 41px auto auto auto;
    width: 591px;
    text-align: center;
    background-color: #2A61F0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
    line-height: 100.67px;
}
.bgr {
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 21px;

}
.strong-ukraine {
    font-weight: 400;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    margin-bottom: 31px;
}
.links {
    font-family: 'Marcellus SC', serif;
    color: #A89D9D;
    font-weight: 400;
    font-size: 36px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
}
.links-social {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}