.person {
    background-image: url(../../../../../img/cardStarWars.png);
    background-repeat: no-repeat;
    height: 45vh;
    color: white;
    border: 5px solid black;
    border-radius: 25px;
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-weight: bold;
}

.person div {
    text-align: left;
}

.person div span {
    color: greenyellow;
    -webkit-text-stroke: 1px black;
}

a {
    color: blue;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}