@font-face {
   font-family: Aeonik;
   src: url('../Fonts/Aeonik-Regular.otf');
}

:root {
   font-family: Aeonik, sans-serif;
   background: linear-gradient(180deg, #333333 0%, #090707 11.98%);
   --color-white: #FFFFFF;
   --color-black-button: #1A1919;
   --color-blue: #3775ED;
   --color-gray: #E5E5E5;
   --color-background-choice: #1A1919;
   --color-border-bottom: #282828;
   font-size: 10px;
}

body {
   margin: 0 8.3vw 0 8.3vw;
   color: var(--color-white);
}

a {
   text-decoration: none;
   color: var(--color-white);
}

/*HEADER*/
.head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.logo>a {
   font-size: 3rem;
   font-weight: 900;
   display: flex;
   align-items: center;
}

.nav li {
   display: inline-block;
   list-style-type: none;
   font-size: 1.4rem;
   font-weight: 500;
}

.option-li {
   margin: 0 .93vw 0 .93vw;
}

.button-li {
   box-sizing: border-box;
   padding: 15px 3.5vw 15px 3.5vw;
   border: 1.5px solid var(--color-white);
   border-radius: .5rem;
   margin-left: 2.22vw;
   list-style-type: none;
   position: relative;
}

.button-li a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/*SECTION-1*/
.container-1,
.container-2,
.container-3,
#features {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.container-1>div:first-of-type {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding-top: 10vh;
   padding-bottom: 5vh;
}

.container-1>div:first-of-type div {
   font-size: 6.5rem;
   font-weight: 700;
   line-height: 7.8rem;
   max-width: 50vw;
}

.container-1>div:first-of-type div span {
   color: var(--color-blue);
}

.container-1>div:nth-child(2) {
   font-size: 2.2rem;
   font-weight: 400;
   color: var(--color-gray);
}

.container-1>div:nth-child(3) {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 55px;
}

.buttons {
   width: 100%;
   display: flex;
   justify-content: space-between;
   max-width: 29vw;
   font-size: 1.4rem;
   font-weight: 400;
}

.buttons div {
   box-sizing: border-box;
   padding: 15px 4.5vw;
   border: 1.5px solid var(--color-white);
   border-radius: .5rem;
   position: relative;
}

.buttons div a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.buttons div:hover {
   background-color: var(--color-blue);
   border: none;
}

.container-1>img {
   margin-bottom: 16vh;
}

/*SECTION-2*/
.head-text {
   font-size: 4rem;
   font-weight: 700;
   box-sizing: border-box;
   padding: 2vh 0;
}

.sub-text {
   font-size: 2.2rem;
   font-weight: 400;
   color: var(--color-gray);
}

.cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 22px;
   margin-top: 7.5vh;
}

.animationhide-left,
.animationhide-right {
   display: none;
}

.cards div {
   position: relative;
}

.cards div:hover .animationhide-left {
   animation-duration: .7s;
   animation-timing-function: linear;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-fill-mode: none;
   animation-play-state: running;
   animation-name: rotate;
   display: block;
   position: absolute;
   width: 6vw;
   top: -40px;
   left: -25px;
}

.cards div:hover .animationhide-right {
   animation-duration: .7s;
   animation-timing-function: linear;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-fill-mode: none;
   animation-play-state: running;
   animation-name: rotate;
   display: block;
   position: absolute;
   width: 6vw;
   top: -40px;
   right: -25px;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.cards>div>img {
   width: 100%;
}

.choice {
   display: grid;
   grid-template-columns: repeat(20, 1fr);
   grid-template-rows: repeat(4, 1fr);
   background-color: var(--color-background-choice);
   border-radius: 5px;
   box-sizing: border-box;
   padding: 2.5vh 1.8vw;
   margin-top: 2.5vh;
   margin-bottom: 8.3vh;
}

.choice div:first-of-type {
   grid-column-start: 2;
   grid-column-end: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(2) {
   grid-column-start: 11;
   grid-column-end: 12;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(3) {
   grid-column-start: 16;
   grid-column-end: 17;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(4) {
   grid-column-start: 20;
   grid-column-end: 20;
   grid-row-start: 2;
   grid-row-end: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(5) {
   grid-column-start: 7;
   grid-column-end: 15;
   grid-row-start: 2;
   grid-row-end: 3;
   justify-self: center;
}

.choice div:nth-child(6) {
   grid-row-start: 3;
   grid-row-end: 4;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(7) {
   grid-column-start: 7;
   grid-column-end: 15;
   grid-row-start: 3;
   justify-self: center;
}

.choice div:nth-child(8) {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 4;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(9) {
   grid-column-start: 14;
   grid-column-end: 15;
   grid-row-start: 4;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice div:nth-child(10) {
   grid-column-start: 18;
   grid-column-end: 19;
   grid-row-start: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*SECTION-3*/
.container-2 {
   margin-bottom: 7.8vh;
}

.developers {
   text-align: left;
}

.border-top {
   border-top: 1px solid var(--color-border-bottom);
   box-sizing: border-box;
   padding-top: 4.5vh;
}

.developers-cards {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 25px;
   margin-top: 7vh;
}

.developers-cards>div>img {
   width: 100%;
}

.blue-button {
   display: flex;
   justify-content: center;
   text-align: center;
}

.blue-button>div {
   box-sizing: border-box;
   padding: 15px 4.5vw;
   border-radius: .5rem;
   background-color: var(--color-blue);
   margin-bottom: 7.8vh;
   font-size: 1.4rem;
   font-weight: 400;
   position: relative;
}

.blue-button>div a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/*SECTION-4*/
.container-3 {
   margin-bottom: 15vh;
}

.reviews {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 30px;
   margin-top: 6.5vh;
}

.reviews>div>img {
   width: 100%;
}

.container-4 {
   background-image: url(../IMG/enjoy.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 56vh;
   padding-bottom: 15vh;
   border-bottom: 1px solid var(--color-border-bottom);
}

.container-4>div:first-of-type {
   font-size: 5rem;
   font-weight: 700;
   line-height: 6rem;
   box-sizing: border-box;
   padding-top: 12vh;
   padding-left: 4vw;
}

.container-4>div:last-of-type {
   font-size: 2.2rem;
   font-weight: 400;
   box-sizing: border-box;
   padding-top: 2vh;
   padding-left: 4vw;
}

/*SECTION-5*/
.clubweber {
   background-color: var(--color-blue);
   display: flex;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   margin-top: 4.62vh;
   margin-bottom: 4.62vh;
   height: 28vh;
}

.clubweber>div:first-of-type {
   font-size: 5rem;
   font-weight: 700;
   box-sizing: border-box;
   padding: 4.6vh 11.7vw 2.3vh 11.7vw;
}

.clubweber>div:nth-child(2) {
   font-size: 2.2rem;
   font-weight: 400;
}

.black-button {
   box-sizing: border-box;
   padding: 15px 4.5vw;
   border-radius: .5rem;
   background-color: var(--color-black-button);
   font-size: 1.4rem;
   font-weight: 400;
   margin-top: 3.2vh;
   position: relative;
}

.black-button>div a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/*FOOTER*/
.container-5 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.8rem;
   font-weight: 400;
   border-top: 1px solid var(--color-border-bottom);
   padding-top: 7.2vh;
   padding-bottom: 6vh;
}

.container-5>div:nth-child(2) {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 13vw;
}

@media screen and (max-width: 360px) {
   body {
      margin: 0 3vw 0 3vw;
   }

   .container-1 {
      width: 100%;
      position: relative;
   }

   .nav {
      display: none;
   }

   .container-1>div {
      width: 100%;
   }

   .container-1>div:first-of-type div {
      font-size: 3rem;
      line-height: normal;
      max-width: 100vw;
   }

   .container-1>div:nth-child(2) {
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
   }

   .buttons {
      display: block;
      max-width: none;
   }

   .buttons>div:first-of-type {
      margin-bottom: 2vh;
   }

   .container-1>img {
      position: absolute;
      left: -3vw;
      width: 100vw;
      top: 55vh;
      height: 30vh;
   }

   #features {
      padding-top: 33vh;
   }

   #features>div:first-of-type {
      font-size: 2.5rem;
      padding-bottom: 1.5vh;
   }

   .sub-text {
      font-size: 1.5rem;
   }

   .cards {
      display: block;
   }

   .cards>div {
      margin-bottom: 1vh;
   }

   .choice {
      display: block;
      height: 34vh;
      position: relative;
   }

   .choice div img {
      width: 4vh;
   }

   .choice div:first-of-type {
      top: 5vh;
      left: 7vw;
      position: absolute;
   }

   .choice div:nth-child(2) {
      top: 7vh;
      left: 31vw;
      position: absolute;
   }

   .choice div:nth-child(3) {
      top: 2vh;
      left: 50vw;
      position: absolute;
   }

   .choice div:nth-child(4) {
      top: 7vh;
      left: 80vw;
      position: absolute;
   }

   .choice div:nth-child(5) {
      font-size: 2.4rem;
      box-sizing: border-box;
      padding-top: 10vh;
      padding-bottom: .5vh;
   }

   .choice div:nth-child(6) {
      position: absolute;
      top: 25vh;
      left: 7vw;
   }

   .choice div:nth-child(7) {
      font-size: 1.4rem;
   }

   .choice div:nth-child(8) {
      position: absolute;
      top: 28vh;
      left: 13vh;
   }

   .choice div:nth-child(9) {
      position: absolute;
      top: 25vh;
      left: 52vw;
   }

   .choice div:nth-child(10) {
      position: absolute;
      top: 26vh;
      left: 31vh;
   }

   /*section-3*/
   .developers {
      text-align: center;
      font-size: 2.5rem;
   }

   #learn {
      margin-bottom: 5vh;
   }

   #learn>.sub-text {
      font-size: 1.6rem;
   }

   .developers-cards {
      margin-top: 3vh;
      display: block;
   }

   .developers-cards div {
      margin-bottom: 1.5vh;
   }

   .blue-button {
      border-bottom: 1px solid var(--color-border-bottom);
   }

   .blue-button>div {
      width: 50vw;
      margin-bottom: 5vh;
   }

   .border-top {
      border: none;
   }

   /*section-4*/
   .container-3 {
      margin-bottom: 4vh;
   }

   .container-3>.head-text {
      font-size: 2.5rem;
   }

   .reviews {
      display: block;
   }

   .reviews>div {
      margin-bottom: 2vh;
   }

   /*РЕШИ ВОПРОС ПРОЗРАЧНОСТИ ФОНА*/
   .container-4 {
      background-image: url(../IMG/enjoy-mob.png);
      border-bottom: 1px solid var(--color-border-bottom);
      margin-left: -1.5vh;
      margin-right: -1.5vh;
      padding-bottom: 0;
      height: 54vh;
      position: relative;
   }

   .container-4>div:first-of-type {
      font-size: 3rem;
      line-height: normal;
      z-index: 2;
      position: absolute;
      z-index: 2;
   }

   .container-4>div:nth-child(2) {
      font-size: 1.5rem;
      width: 50vw;
      position: absolute;
      z-index: 2;
      left: 4vw;
      top: 23vh;
   }

   .alpha-5 {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
   }

   /*section-5*/
   .clubweber {
      height: 32vh;
      align-items: start;
   }

   .clubweber>div:first-of-type {
      padding-left: 8vw;
      font-size: 2.5rem;
   }

   .clubweber>div:nth-child(2) {
      font-size: 1.8rem;
      padding-left: 8vw;
      width: 79vw;
      left: 8vw;
   }

   .black-button {
      margin-left: 8vw;
      width: 60vw;
      text-align: center;
   }

   footer {
      display: none;
   }
}