* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #FFFFF0;
}


.header {
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    justify-content: center;
}

input[type="number"] {
    background-color: rgba(0, 0, 255, 0.404);
    margin-left: 100px;
    margin-right: 5px;
    color: blue;
    border-radius: 15px;
    width: 120px;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;

}

input[type=button] {
    color: black;
    width: 45px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
}

.output {
    background-color: rgba(172, 255, 47, 0.459);
    margin-left: 100px;
    margin-right: 5px;
    width: 120px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: rgb(153, 51, 73);
    font-weight: bold;
    border-radius: 15px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid_item {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid black;
}

#fromCurrency {
    color: blue;
    width: 240px;
}

#toCurrency {
    color: rebeccapurple;
    width: 240px;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 150px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}