.main {
    width: 80vw;
    margin: 0 auto;
}

.tab__header {
    display: flex;
}

.tab__title {
    font-style: italic;
    padding: 5px 20px;
    margin: 0 5px 0 0;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    background-color: aqua;
}

.hide__title {
    background-color: blue;
    border-bottom: 1px solid black;
    color: white;
}

.tab__contents {
    height: 30vh;
    border: 1px solid black;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    margin-top: -1px;
    background-color: aqua;
}

.tab__text {
    display: none;
}

.show__text {
    display: block;
}